---
import { createProjectRelativeUrl } from '@/config/site-branding';

const adminConfigUrl = createProjectRelativeUrl('admin/config.yml');
const faviconSvgUrl = createProjectRelativeUrl('favicon.svg');
const faviconIcoUrl = createProjectRelativeUrl('favicon.ico');
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="noindex" />
    <title>Ateleia CMS</title>
    <link rel="icon" type="image/svg+xml" href={faviconSvgUrl} />
    <link rel="icon" href={faviconIcoUrl} />
    <link rel="cms-config-url" type="text/yaml" href={adminConfigUrl} />
  </head>
  <body>
    <script src="https://unpkg.com/decap-cms@3.10.1/dist/decap-cms.js"></script>
  </body>
</html>
